

body{
  height: 100vh;
  width: 100vw;
  
  
}



.parent{
  height: 100vh;
   width: 100%;
   background-color: rgb(10, 10, 10);
   padding: 30px;
}
.card{
  height: 500px;
  width: 300px;
  background-color: #dbd2d2;
  border-radius: 40px;
  padding: 30px;
 
}
.card.top{
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.top img{
  height: 35px;
  width: 35px;
  border-radius:50% ;
  border:1px solid #dadadd;
  padding: 2px;
}
.top button{
  display: flex;
  align-items:center;
  border: 1px solid #dadadd;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 5px;
}
